h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background: url('pattern.jpeg') 0 0 repeat-x;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.green{
    background-color: mediumspringgreen;
}

.red{
background-color: lightcoral;
}

.blue{
background-color: skyblue;
}

.price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}